.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.container {
  width: 100%;
  max-width: 1060px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  margin-top: 50px;
}
.wrapper {
  display: flex;
  border-top: solid 2px var(--border);
  margin-left: 2rem;
  flex-wrap: wrap-reverse;
}
.field {
  width: 100%;
}
