.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 80vh;
  min-height: fit-content;
  width: 80%;
  max-width: 1200px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}
.wrapper {
  flex: 1;
  display: flex;
  border-top: solid 2px var(--border);
  margin-left: 2rem;
}
