:root {
  --background-color: #02044a;
  --color-primary: #25cc88;
  --color-secondary: #494a7d;
  --border: rgba(73, 74, 125, 0.32);
  --border-hover: #fff;
  --border-focus: #2db27c;
  --text-color-primary: #fff;
  --text-color-secondary: #8687a8;
  --text-color-ternary: #aeafc5;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
}
